<style>{{ custom_css }}</style>
<div class = "spoiler">
	<div class = "header">
 		{{ header }}
		<div class="header_icon">
			<img src="{{ image }}" id="header_icon" name="header_icon" />
		</div>
	</div>
	<div class = "content" id="spoiler_content">
		{{ content }}
	</div>
</div>