<style>{{ custom_css }}</style>
<div class = "spoiler">
	<div class = "header">
        <a id="spoiler_link" name="spoiler_link" class="spoiler_link">
            {{ header }}
        </a>
	</div>
	<div class = "content" id="spoiler_content">
		{{ content }}
	</div>
</div>